extends ../base/main.pug

block content
    .container
        table.table.table-striped.table-bordered.table-responsive-sm
            tr.header
                th Name
                th ACN
                th Current
                th Min
                th Total
                th Status
                th Updated
            if accounts.length != 0
                each n in accounts
                    - function getColor () {if (n.withdrawn) return 'silver';if (n.matured && !n.withdrawn) return 'chartreuse'; else return null;};
                    - let rowColor = getColor();
                    tr(style=`background: ${rowColor};`)
                        td=n.name
                        td=n.acn
                        td
                            h5=n.current+' Taka'
                        td=n.min+' Taka'
                        td=n.total+' Taka'
                        if n.matured && n.withdrawn
                            td Withdrawn
                        if n.matured && !n.withdrawn
                            td Matured
                        if !n.matured && !n.withdrawn
                            td Running
                        td=n.lastUpdated.toDateString()
                - class Accounts extends Array { sum(key) {return this.reduce((a, b) => a + (b[key] || 0), 0);}}
                - const accountsTotalCurrent = new Accounts(...accounts);
                
                tr.header
                    td(colspan='7')
                        h3=`Total ${accountsTotalCurrent.sum('current')} Taka`
            else
                tr
                    td(colspan='7') No accounts yet